<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<!--- Bind custom config sections -->
	<configSections>
		<section name="BowerRegistry" type="BowerRegistry.IIS.Configuration.BowerRegistryConfigurationSection, Bower-Registry.IIS" />
	</configSections>

	<!-- Required for IIS 6.5 and below -->
	<system.web>
		<httpHandlers>
			<add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" />
		</httpHandlers>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
				<add assembly="Microsoft.CSharp, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			</assemblies>
		</compilation>
	</system.web>
	<!-- Required for IIS 7.0 -->
	<system.webServer>
		<handlers>
			<add path="*" name="ServiceStack.Factory" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
		</handlers>
	</system.webServer>

	<!-- Reposirotires -->
	<BowerRegistry>
		<PackageRepositories>
			<InMemory id="InMemory1" />
			<!--
			<XmlFile id="XmlFile1" filePath="example.xml" />
			<XmlFile id="XmlFile1" filePath="example.json" />
			<Stash id="Stash1" baseUri="http://example.org" projectKey="exampleProjectKey" username="exampleUsername" password="examplePassword" useSSH="true" />
			-->
		</PackageRepositories>
	</BowerRegistry>

</configuration>